<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 智慧水务</title>
    @Styles.Render("~/Content/css")   
    @RenderSection("style",false)
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @*<div id="particles-js"></div>*@
    <div class="login-all">
        @RenderBody()
        <footer>
            <p>&copy; @DateTime.Now.Year - 智慧水务</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
